<footer id="myFooter">
    <div class="container">
        <ul>
            <li><a href="#">Informações da Empresa</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Cursos</a></li>
        </ul>
        <div clas="container-fluid inline mb-4">
                <img id="fotoCeo" src="../../assets/imagens/eu.jpeg">
            <p class="footer-copyright"> CEO Romulo Silva</p>
            
        </div>
       
    </div>
    <div class="footer-social"><!--O link para que os botões funcionem estão no index-->
        <a href="https://pt-br.facebook.com/" target="_blank" class="social-icons"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/?hl=pt-br" target="_blank" class="social-icons"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/" target="_blank" class="social-icons"><i class="fa fa-youtube"></i></a>
        <a href="https://twitter.com/login?lang=pt" target="_blank" class="social-icons"><i class="fa fa-twitter"></i></a>
    </div>
</footer>
