<!--PARTE 05 DO WEBSERVICE usamos o *ngFOR para exibir os ddos do ebjeto template"*ngFor " newVar of nomeDaVarqueRecebeuOsResultados" "-->
<section class="container secaoDados" *ngFor="let usuario of users">

    <div class="row linhaDados">
        <div class="col-md-3 dados">
            <h3>Dados Pessoais</h3>
            <h6>Nome:</h6>{{usuario.name}}
            <h6>User Name:</h6>{{usuario.username}}
            <h6>Email:</h6>{{usuario.email}}
            <h6>Telefone:</h6>{{usuario.phone}}
            <h6>WebSite:</h6>{{usuario.website}}
        </div>

<!-- template para imprimir na tela {{nomeClasse.nomeAtributo}} so houver um objeto dentro do objeto{{nomeClasse.nomeClasse2.nomeAtributo}} e assim por diante--> 

        <div class="col-md-3 dados">

            <h3>Endereço:</h3>
            <h6>Rua:</h6>{{usuario.address.street}}
            <h6>Apartamento:</h6>{{usuario.address.suite}}
            <h6>Cidade:</h6>{{usuario.address.city}}
            <h6>CEP:</h6>{{usuario.address.zipcode}}
            <h6>Latitude:</h6>{{usuario.address.geo.lat}}
            <h6>Longitude:</h6>{{usuario.address.geo.lng}}
        </div>
        <div class="col-md-3 dados">

                <h3>Dados da empresa</h3>
                <h6>Nome da Empresa:</h6>{{usuario.company.name}}
                <h6>Bordão</h6>{{usuario.company.catchPhrase}}
                <h6>BS:</h6>{{usuario.company.bs}}
        </div>
    </div>
</section>
