.secaoDados{
    justify-content: center;
}
.linhaDados{

    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    border:solid 2px #C4FFEB;
    background-color: #628076;
    border-radius: 20px;
    box-shadow: 10px 10px #31403B;
}

.dados{
    margin-left: 2%;
    justify-content: center;
}