/* You can add global styles to this file, and also import other style files */
#corpo{
    background-color: #95C2B3;
    font-size: 10pt;
    color: #40E0D0;
    font-family: 'Courier Prime', monospace;

}
