/* You can add global styles to this file, and also import other style files */
#corpo{
    background-color: #95C2B3;
    font-size: 18pt;
    color: rgb(38, 83, 79);
    font-family: 'Courier Prime', monospace;

}
