<div class="row cartas mt-2">
    <div class="col-md-2"></div>
  <div class="col-md-4">
    <section>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/imgA.jfif" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text"><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="btn">Visitar</a>
        </div>
      </div>
    </section>
  </div>

  <!---***************************************************************************************-->

  <div class="col-md-4">
    <section>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/imgB.jfif" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text"><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="btn">Visitar</a>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-2"></div>
</div>

<!---***************************************************************************************-->
<div class="row cartas mt-2">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <section>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/imgC.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text"><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="btn">Visitar</a>
        </div>
      </div>
    </section>
  </div>

  <!---***************************************************************************************-->

  <div class="col-md-4">
    <section>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/imgD.jfif" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text"><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="btn">Visitar</a>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-2"></div>
</div>

<!---***************************************************************************************-->
<div class="row cartas mt-2">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <section>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/imgE.jfif" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text"><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="btn">Visitar</a>
        </div>
      </div>
    </section>
  </div>

  <!---***************************************************************************************-->

  <div class="col-md-4">
    <section>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/imgF.jfif" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text"><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting
            industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="btn">Visitar</a>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-2"></div>
</div>