.card{
    background-color: #31403B;
    border-radius: 10px;
   
}

.cartas{
    display: flex;
    justify-content: center;
} 

.col-md-2{
    padding-right: 2%;
}
.btn{
    background-color: #95C2B3;
    font-family: 'Courier Prime', monospace;
}

.card-img-top{
    height: 150px;
}